<section id='presenter' class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>
	</div>
</section>

<section id='content' class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Blog', blog_posts_path %></li>
			</ul>

			
		</div>
	</div>
</section>