<section id='presenter' class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-unstyled text-center">
					<li><h1><i class='glyphicon glyphicon-search'></i></h1></li>
					<li><h1><strong>RECONSTRUINDO A POLITICA</strong></h1></li>
					<li><p>Entenda a politica de forma descomplicada.</p></li>
					<ul class="list-unstyled list-inline">
						<li><%= button_to 'QUEM SOMOS', '', 
						class: 'btn btn-default btn-lg top' %></li>
						<li><%= button_to 'NOSSAS MATÉRIAS', '', 
						class: 'btn btn-primary btn-lg top' %></li>
					</ul>
				</ul>
			</div>
		</div>
	</div>
</section>


<section id='about'>
	<div class='container'>
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					 <li><%= link_to 'Home', root_path %></li>
				</ul>
			</div>
		</div>
	</div>
</section>